@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
*{
    margin: 0;
}
button{
    cursor: pointer;
}

header{
    width: 90%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
nav h1{
    color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 24px;
font-weight: 700;
}
nav ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 16px;
font-weight: 600;
cursor: pointer;
}
.p-1-middle{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.p-1-left-middle{
    /* border: 2px solid black; */
    width: 50%;
}
.p-1-right-middle{
    width: 30%;
    margin: 0 auto;
    background-image: url( ../images/Circle\ design.svg );
    display: flex;
    background-position: center;
    background-size: cover;
    /* border: 2px solid red; */
}
.camera{
    /* border: 2px solid green; */
    width: 100%;
}
.p-1-middle h1{
    color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 52px;
font-weight: 700;
margin-bottom: 40px;
}
.p-1-middle p{
    color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 24px;
margin-bottom: 70px;
}
.btn-1{
    border-radius: 41px;

background: rgb(224, 44, 109);
border: none;
padding: 10px 20px 10px 15px;
}
.page-1-icons{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
main{
    width: 75%;
    margin: 0 auto;
}
.p-2{
    margin-top: 100px;
    text-align: center;
}
.p-2-heading{
    color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 28px;
font-weight: 600;
margin-bottom: 50px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    /* padding: 10px; */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 30px;
    padding-bottom: 20px;
    cursor: pointer;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 15px;
}
.card h1{
    color: rgb(24, 25, 31);
font-family: Poppins;
font-size: 28px;
font-weight: 500;
}
.card p{
    color: rgba(0, 0, 0, 0.87);
font-family: Inter;
font-size: 24px;
font-weight: 400;
}
.para{
    color: rgb(120, 120, 133);
font-family: Inter;
font-size: xx-small;
opacity: 0.8;
width: 95%;
margin: 0 auto;
text-align: center;
}
.see-more{
    color: rgba(224, 44, 109, 0.87);
font-family: Poppins;
font-size: 16px;
font-weight: 700;
text-align: right;
margin-top: 50px;
margin-right: 20px;
cursor: pointer;
}
.p-3{
    width: 80%;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
}
.p-3-img{
    
    width: 100%;
    
}
.p-3-pera{
    
    width: 55%;
    
}
.p-3-pera h1{
    color: rgb(10, 8, 38);
font-family: Poppins;
font-size: 38px;
font-weight: 700;
}
.p-3-pera p{
    color: rgb(108, 108, 108);
font-family: Poppins;
font-size: 16px;
font-weight: 700;
}
.btn-2{
    color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 16px;
font-weight: 700;
background: rgb(224, 44, 109);
border: none;
padding: 10px 30px 10px 20px;
border-radius: 5px;
}
footer{
    width: 100%;
    background-color: #0A0826;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 100px;
}
footer h1{
    color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 24px;
font-weight: 700;
}
footer p{
    color: rgb(217, 219, 225);
font-family: Manrope;
font-size: 14px;
font-weight: 700;
}


@media screen and (max-width: 576px){
    nav{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    
    .p-1-middle{
        display: flex;
        flex-direction: column-reverse;
    }
    .p-1-right-middle{
        width: 90%;

    }
    .page-1-icons{
        /* display: flex;
        flex-wrap: wrap;
        gap: 10px; */
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        gap: 20px;
    }
    .p-1-left-middle{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;  
        border: 2px   
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        gap: 15px;
    }
    .p-3{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .p-3-pera{
        margin-bottom: 20px;
    }
    .card{
        margin-bottom: 30px;
    }
    .see-more{
        margin-bottom: 30px;
    }
    .p-3-pera h1{
        margin-bottom: 50px;
    }
    .p-3-pera p{
        margin-bottom: 50px;
    }
    .btn-2{
        margin-bottom: 50px;
    }
}










@media screen and (min-width: 576px) and (max-width: 992px){

  .p-1-right-middle{
    width: 30%;
    margin: 0 auto;
    display: flex;
    width: fit-content;
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;

    }
.camera{
    width: 90%;
}



}